In [8]:
import pandas as pd
pd.set_option('display.max_columns', None)
df = pd.read_csv('../Resources/cleaned_data.csv')

df.head(10)

,Registration State,Plate Type,Violation Code,Vehicle Body Type,Vehicle Make,Violation Time,Vehicle Color,Vehicle Year
0,NY,PAS,67,SDN,TOYOT,1037A,BLK,2004
1,NY,PAS,51,SUBN,JEEP,1045A,GRAY,2017
2,NY,PAS,67,SUBN,TOYOT,1205P,WHITE,2021
3,NY,PAS,98,SUBN,NISSA,0535P,BLK,2002
4,FL,PAS,51,SUBN,SUBAR,0320P,GRAY,2005
5,NY,PAS,63,SUBN,CHEVR,1102A,WHT,2010
6,NY,PAS,45,SDN,NISSA,0606P,BLK,2002
7,NY,OMS,14,SDN,TOYOT,1250P,BLACK,2022
8,NY,PAS,20,SUBN,HONDA,1031A,RED,2005
9,NY,PAS,27,SDN,NISSA,0607P,BLACK,2022

In [9]:
#dictionaries from ml file for recategorization
plate_types = {
    'PAS': 1,
    'COM': 2,
    'OMT': 3,
    'SRF': 4,
    'OMS': 5,
    'APP': 6,
    'TRC': 7,
    'ORG': 8
}

states = {
    'NY': 1,
    'NJ': 2,
    'PA': 3,
    'GA': 4,
    'FL': 5,
    'TX': 6,
    'CT': 7
}

#encoding dicts
body_types = {
    'SUBN':0,
    '4DSD':1,
    'VAN':2,
    'PICK':3,
    'DELV':4,
    '2DSD':5,
    'REFG':6,
    'SDN':7
}

make_types = {
    'HONDA':0,
    'FORD':1,
    'TOYOT':2,
    'NISSA':3,
    'CHEVR':4,
    'ME/BE':5,
    'BMW':6,
    'JEEP':7,
    'FRUEH':8,
    'HYUND':9,
    'SUBAR':10,
    'LEXUS':11
}

In [10]:
other_df = df.copy()
other_df.head()

,Registration State,Plate Type,Violation Code,Vehicle Body Type,Vehicle Make,Violation Time,Vehicle Color,Vehicle Year
0,NY,PAS,67,SDN,TOYOT,1037A,BLK,2004
1,NY,PAS,51,SUBN,JEEP,1045A,GRAY,2017
2,NY,PAS,67,SUBN,TOYOT,1205P,WHITE,2021
3,NY,PAS,98,SUBN,NISSA,0535P,BLK,2002
4,FL,PAS,51,SUBN,SUBAR,0320P,GRAY,2005

In [11]:
other_df['Registration State'] = other_df['Registration State'].apply(lambda x: x if x in states else 'OTHER')
other_df['Plate Type'] = other_df['Plate Type'].apply(lambda x: x if x in plate_types else 'OTHER')
other_df['Vehicle Body Type'] = other_df['Vehicle Body Type'].apply(lambda x: x if x in body_types else 'OTHER')
other_df['Vehicle Make'] = other_df['Vehicle Make'].apply(lambda x: x if x in make_types else 'OTHER')
other_df.head()

,Registration State,Plate Type,Violation Code,Vehicle Body Type,Vehicle Make,Violation Time,Vehicle Color,Vehicle Year
0,NY,PAS,67,SDN,TOYOT,1037A,BLK,2004
1,NY,PAS,51,SUBN,JEEP,1045A,GRAY,2017
2,NY,PAS,67,SUBN,TOYOT,1205P,WHITE,2021
3,NY,PAS,98,SUBN,NISSA,0535P,BLK,2002
4,FL,PAS,51,SUBN,SUBAR,0320P,GRAY,2005

In [12]:
other_df['Violation Time len'] = other_df['Violation Time'].apply(len)
other_df = other_df.loc[other_df["Violation Time len"] == 5]
other_df['Violation Time'] = other_df['Violation Time']+"M"
other_df['violation_hour'] = other_df["Violation Time"].astype(str).str[:2].astype(int)
other_df = other_df.loc[other_df["violation_hour"] <= 24]
other_df['Violation Time'] = other_df['Violation Time'].replace(' ', '0', regex=True)
other_df["Violation Time"] = pd.to_datetime(other_df["Violation Time"], format='%H%M%p' ).dt.strftime('%H:%M %p')
other_df.drop(columns=['Violation Time len','violation_hour'], axis=1, inplace=True)

In [ ]:
other_df.to_csv('../Resources/tableau_data.csv')